<div class="course-item" [appCircleRound]="courseItem.date" [ngClass]="{'top-rated': isTopRated}">
  <div class="course-item__header">
    <h3 class="course-item__title">{{courseItem.name | uppercase}}
      <fa-icon *ngIf="isTopRated" class="course-item__star-icon" [icon]="faStar"></fa-icon>
    </h3>
    <div class="course-item__info-wrapper">
      <fa-icon class="course-item__icon" [icon]="faClock"></fa-icon>
      <span class="course-item__duration">{{courseItem.length | duration}}</span>
      <fa-icon class="course-item__icon" [icon]="faCalendarAlt"></fa-icon>
      <span class="course-item__date">{{courseItem.date | date:'d MMM, y' }}</span>
    </div>
  </div>
  <div class="course-item__content">
    <div class="course-item__description">
      {{courseItem.description}}
    </div>
    <div class="course-item__control">
      <button class="course-item__edit-btn" (click)="editCourse()"><fa-icon [icon]="faPencilAlt"></fa-icon>Edit</button>
      <button class="course-item__delete-btn" (click)="deleteCourse()"><fa-icon [icon]="faTrashAlt"></fa-icon>Delete</button>
    </div>
  </div>
</div>
