//colors variables
@dark: #2c2f3c;
@charcoal-grey: #414452;
@slate-grey: #525462;
@cloudy-blue: #b9bdce;
@silver: #c0c3ce;
@grey: #d9dbe3;
@pale-grey: #f2f3f7;
@white: #ffffff;
@sick-green: #9bc837;
@dark-sky-blue: #30b6dd;
@soft-blue: #577ce6;


//other variables
@max-layout-width: 1320px;

// media queries

@mobile: ~"screen and (max-width: 600px)";
@tablet: ~"screen and (max-width: 900px)";
@desktop: ~"screen and (max-width: 1200px)";
@big-desktop: ~"screen and (min-width: 1201px)";


