//colors variables
@charcoal-grey: #414452;
@white: #ffffff;

//other variables
@max-layout-width: 1320px;

// media queries

@mobile: ~"screen and (max-width: 600px)";
@tablet: ~"screen and (max-width: 900px)";
@desktop: ~"screen and (max-width: 1200px)";
@big-desktop: ~"screen and (min-width: 1201px)";


