<div class="login-page">
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <h3 class="login-form__title">Login</h3>
    <div class="login-form__field">
      <label class="login-form__label" for="email">E-mail:</label>
      <input formControlName="userEmail" class="login-form__input" name="email" placeholder="Enter e-mail" required>
    </div>
    <div class="login-form__field">
      <label class="login-form__label" for="password">Password:</label>
      <input formControlName="userPassword" type="password" class="login-form__input" name="password" placeholder="Enter password" required>
    </div>
    <a class="login-form__recovery-link" href="">Forgot password?</a>
    <button class="login-form__login-btn" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
